/* horizontal timeline */
table.timeline-oriz {
  width: 100%;
  border-collapse: collapse;
  margin: 0;
  position: relative;
}

table.timeline-oriz > tbody > tr > td {
  position: relative;
}

table.timeline-oriz > tbody > tr > td.head {
  width: 70px;
  text-align: left;
  vertical-align: middle;
}

/* vertical timeline */
table.timeline-vert {
  width: 100%;
  height: 100%;
  border-collapse: collapse;
  margin: 0;
  table-layout: fixed;
  display: table;
}

table.timeline-vert > tbody > tr > td {
  position: relative;
}

table.timeline-vert > tbody > tr.head {
  height: 60px;
}

table.timeline-vert > tbody > tr.head > td {
  text-align: center;
}

table.timeline-vert > tbody > tr.head > td:nth-child(1),
table.timeline-vert > tbody > tr.head > td:nth-child(3) {
  width: calc(50% - 20px);
}

/* separator */
.tl-oriz-sep {
  width: 100%;
  position: relative;
}

.tl-oriz-sep > .tl-label {
  position: absolute;
  top: 0;
  margin-top: -10px;
  margin-left: -10px;
}

.tl-vert-sep {
  width: 100%;
  height: 100%;
  position: relative;
  text-align: center;
}

.tl-vert-sep > .tl-line {
  position: absolute;
  width: 1px;
  border: 0;
  border-left: 1px solid #ddd;
  height: 100%;
  left: calc(50% - 1px);
  top: 0;
}

.tl-vert-sep > .tl-label {
  position: absolute;
  width: 100%;
  left: 0;
  margin-top: -10px;
}

/* containers */

.tl-elem {
  position: absolute;
}

.tl-oriz-cont {
  width: 100%;
  height: 85px;
  position: relative;
  margin-right: 30px;
}

.tl-oriz-cont.tl-top > .tl-elem { transform: translate(-50%, 0); }
.tl-oriz-cont.tl-top > .tl-elem.tl-row1 { bottom: 4px; }
.tl-oriz-cont.tl-top > .tl-elem.tl-row2 { bottom: 26px; }
.tl-oriz-cont.tl-top > .tl-elem.tl-row3 { bottom: 48px; }
.tl-oriz-cont.tl-top > .tl-elem.tl-row4 { bottom: 70px; }
.tl-oriz-cont.tl-top > .tl-elem.tl-row5 { bottom: 70px; }

.tl-oriz-cont.tl-bottom > .tl-elem { transform: translate(-50%, 0); }
.tl-oriz-cont.tl-bottom > .tl-elem.tl-row1 { top: 4px; }
.tl-oriz-cont.tl-bottom > .tl-elem.tl-row2 { top: 26px; }
.tl-oriz-cont.tl-bottom > .tl-elem.tl-row3 { top: 48px; }
.tl-oriz-cont.tl-bottom > .tl-elem.tl-row4 { top: 70px; }
.tl-oriz-cont.tl-bottom > .tl-elem.tl-row5 { top: 70px; }

.tl-vert-cont {
  width: 100%;
  height: 100%;
  position: relative;
  margin-bottom: 40px;
}

.tl-vert-cont.tl-left > .tl-elem { transform: translate(+50%, 0); }
.tl-vert-cont.tl-left > .tl-elem.tl-row1 { right: 8%; }
.tl-vert-cont.tl-left > .tl-elem.tl-row2 { right: 28.5%; }
.tl-vert-cont.tl-left > .tl-elem.tl-row3 { right: 49%; }
.tl-vert-cont.tl-left > .tl-elem.tl-row4 { right: 69.5%; }
.tl-vert-cont.tl-left > .tl-elem.tl-row5 { right: 90%; }

.tl-vert-cont.tl-right > .tl-elem { transform: translate(-50%, 0); }
.tl-vert-cont.tl-right > .tl-elem.tl-row1 { left: 8%; }
.tl-vert-cont.tl-right > .tl-elem.tl-row2 { left: 28.5%; }
.tl-vert-cont.tl-right > .tl-elem.tl-row3 { left: 49%; }
.tl-vert-cont.tl-right > .tl-elem.tl-row4 { left: 69.5%; }
.tl-vert-cont.tl-right > .tl-elem.tl-row5 { left: 90%; }

/* elements */

.tl-elem > span.fa {
  font-size: 0.8em;
}

.tl-elem > span.badge {
  border: 0.5px solid #ccc;
}
