@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap");

body {
  background-image: url("sfondo.jpg");
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
}

*,
*:active {
  outline: 0 !important;
}

.link-unstyled,
.link-unstyled:link,
.link-unstyled:hover {
  color: inherit;
  text-decoration: inherit;
}

.link-black,
.link-black:link,
.link-black:hover {
  color: inherit;
}

.link-black:hover,
.link-black:focus {
  text-decoration: underline;
}

.container-fluid,
.container {
  padding: 5px;
}

.row {
  margin: 0;
}

.col {
  padding: 0;
}

.highlight {
  cursor: pointer;
}

.highlight:hover,
.highlight:focus {
  background-color: #eee;
}

.card {
  margin: 5px;
}

.card-body {
  padding: 1rem;
}

h5.card-title {
  margin: 0;
}

.link-title {
  padding: 0 5px;
}

.scrollbox {
  overflow: auto;
  width: 100%;
  max-height: 35vh;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  border-radius: 0.75rem;
}

.scrollbox:hover {
  border-color: #ddd;
}

::-webkit-scrollbar {
  width: 0px;
}

/* CLASSIFICA SQUADRA ELEMENTO */
.cls-card {
  padding: 0.5em;
}

.cls-col1{
  width: 15%;
  text-align: center;
}

.cls-col3 {
  width: 10%;
  text-align: center;
}

.cls-col2 {
  width: 60%;
  text-align: left;
}

.cls-col4 {
  width: 15%;
  text-align: center;
}
